<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been placed, thank you for shopping with Jungle! </h1>
    <p>
      your 
      <% %>.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>